/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6); /* Optional translucent background for visibility */
}

.logo {
  font-size: 24px;
  color: #fff;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ddd;
}

/* Fullscreen Hero Section */
.hero {
  position: relative;
  width: 100vw;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: #070707;
}

.hero h1 {
  font-size: 36px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 50px;
}

.cta-button {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 20px;
}

/* Footer */
footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.container {
  max-width: 800px;
  margin:auto;
}

.social-media {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.social-media a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.social-media a:hover {
  color: #ccc;
}
